* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #0f5257;
  --blue: #0b3142;
  --gray: #9c92a3;
  --lavender: #c6b9cd;
  --lightpink: #d6d3f0;
  --black: #000;
  --white: #fff;
}

body {
  font-family: "Lato", sans-serif;
}
